[submodule "AlienHand/BizHawk"]
	path = AlienHand/BizHawk
	url = https://github.com/TASEmulators/BizHawk.git
[submodule "AlienHand/Ergo"]
	path = AlienHand/Ergo
	url = https://github.com/ergochat/ergo.git
[submodule "AlienHand/thelounge"]
	path = AlienHand/thelounge
	url = https://github.com/cattailfarmer/thelounge.git
	branch = alienhand/chat-render-adapter
